In [ ]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Dependencies for additional queries. Used to plot bar graph
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [ ]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_date_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
print(june_date_temp)

In [ ]:
#  3. Convert the June temperatures to a list.
june_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
print(june_temp)

In [ ]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp, columns = ['date', 'June Temp.'])
print(june_df)

In [ ]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_date_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
print(dec_date_temp)

In [ ]:
# 7. Convert the December temperatures to a list.
dec_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
print(dec_temp)

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp = pd.DataFrame(dec_temp, columns=['date','December Temp.'])
dec_temp.set_index(dec_temp['date'], inplace=False)
dec_temp

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp.describe()

## D3: Two additional queries

In [ ]:
# Write a query that filters the Measurement table to retrieve the precipitation for June.
prcp_june = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

# Convert to a DataFrame
prcp_june_df = pd.DataFrame(prcp_june, columns = ["date", "June Rainfall"])


prcp_june_df

In [ ]:
#  Write a query that filters the Measurement table to retrieve the precipitation for December.
prcp_dec = session.query(Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

# Convert to a DataFrame
prcp_dec_df = pd.DataFrame(prcp_dec, columns = ["December Rainfall"])

prcp_dec_df.describe()

In [41]:
# Merge June and December temperature statistics into a DataFrame
june_stats = june_df.describe()
dec_stats = dec_temp.describe()

summary_df = june_stats.merge(dec_stats, left_index=True, right_index=True)
summary_df

        June Temp.  December Temp.
count  1700.000000     1517.000000
mean     74.944118       71.041529
std       3.257417        3.745920
min      64.000000       56.000000
25%      73.000000       69.000000
50%      75.000000       71.000000
75%      77.000000       74.000000
max      85.000000       83.000000

In [43]:
# Merge June and December precipitation statistics into a DataFrame
june_prcp_stats = prcp_june_df.describe()
dec_prcp_stats = prcp_dec_df.describe()

prcp_summary_df = june_prcp_stats.merge(dec_prcp_stats, left_index=True, right_index=True)
prcp_summary_df

       June Rainfall  December Rainfall
count    1574.000000        1405.000000
mean        0.136360           0.216819
std         0.335731           0.541399
min         0.000000           0.000000
25%         0.000000           0.000000
50%         0.020000           0.030000
75%         0.120000           0.150000
max         4.430000           6.420000